.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-card {
  width: 300px;
  margin: 10px 0;
}

mat-toolbar {
  width: 100%;
  text-align: center;
}

mat-card {
  margin-bottom: 20px;
}
button {
  margin-top: 20px;
}